<a href="https://colab.research.google.com/github/hoangson281205/ueh-ktlt-eco/blob/main/Buoi2_160825.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Khai báo biến trước
x = [60, 70, 80, 90]   # list
price = 100.5          # float
word = "hello"         # string

# In giá trị và kiểu dữ liệu
print(f'x = {x}, type(x) = {type(x)}')
print(f'price = {price}, type(price) = {type(price)}')
print(f'word = {word}, type(word) = {type(word)}')

x = [60, 70, 80, 90], type(x) = <class 'list'>
price = 100.5, type(price) = <class 'float'>
word = hello, type(word) = <class 'str'>

# PYTHON 101

In [ ]:
x = 2
y = x + 1
print(x, y)

2 3

In [ ]:
# comment
from platform import python_version
print("Python version:", python_version())

Python version: 3.11.13

In [ ]:
x = 'Hello, World'
print(x, type(x))

x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x = 7j
print(x, type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ['apple']
print(x, type(x))

['apple'] <class 'list'>

In [ ]:
x = {'name' : 'Tome' , 'age' : 20} # dictionary
print(x, type(x)), x['name'], x['age']

{'name': 'Tome', 'age': 20} <class 'dict'>

(None, 'Tome', 20)

In [ ]:
# operator
print(4+5)
print(5-4)
print(4*6)
print(15 / 2)
print( 35 % 3)

9
1
24
7.5
2

In [ ]:
# comparision
print(4<2)

False

In [ ]:
# bmi
#input
height_cm = 173
weight_kg = 65

#process
height_m = height_cm / 100
bmi = (weight_kg / (height_m ** 2))
print( 'Your BMI is', round(bmi, 2))

Your BMI is 21.72

In [ ]:
# Future Value
amount = 100
interest = 10  # 10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [ ]:
x = [60, 70, 80, 90]

print(len(x))   # Độ dài danh sách
print(x[0])     # Phần tử đầu tiên
print(x[3])     # Phần tử thứ hai
print(x[-1])    # Phần tử cuối cùng

4
60
90
90

# Cấu trúc dữ liệu

In [ ]:
# List
x = ["apple", "banana", "cherry"]
print(x, type(x))

# Tuple
x = ("apple", "banana", "cherry")
print(x, type(x))

# Dictionary
x = {"name": "Tom", "age": 20}
print(x, type(x))

# Set
x = {"apple", "banana", "cherry"}
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'cherry', 'apple', 'banana'} <class 'set'>

In [ ]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
# tuplet
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [ ]:
# set
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
# dictionary
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [ ]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
# Python Lists
expenses = [72.50, 80.75, 54.10, 80.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 287.6

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
 print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

# Python Control Logic and Loops

In [ ]:
# Python if
score = 80
if score >=60 :
 print("Pass")

Pass

In [ ]:
# Python if else
score = 80
if score >=60 :
 print("Pass")
else:
 print("Fail")

Pass

In [ ]:
score = 95
if score >= 90 :
  print("A")
elif score >=60 :
  print("Pass")
else:
  print("Fail")

A

In [ ]:
# Python if elif else
score = 90
grade = ""
if score >=90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
print(grade)

A